@import "../configuration/colours";

@mixin summary-table {
  th:last-child {
    width: 10%;

    @media (max-width: $container-desktop) {
      width: 0%;
    }
  }

  thead > tr > th, tbody > tr > td {
    text-align: right;
  }

}

.sticky-table-headers {
  thead {
    background-color: $background;
    z-index: $fixed-header-zIndex !important;
  }
}

.data-table {
  td, th {
    text-align: right;
    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }
  }
}

