.delivery-job {
  span.text-muted {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}