.inventory-content {
  .import-container {
    float: left;
    width: 120px;
  }

  .tableFloatingHeaderOriginal {
    z-index: 2 !important;
  }
}
.pull-right {
  float: right;
}

.search-box {
  top: 49px;
}

.remove-circle {
  position: absolute;
  right: 14px;
  top: 2px;
  z-index: 2;
  border: transparent;
  background: transparent;
}

.vbo-table {
  td, th {
    text-align: right;
    &:first-child {
      text-align: left;
    }
  }
}

.load-more-button {
  margin-bottom: 20px;
}