html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: $navbar-height + 10px;
}

.navigation img {
  display: inline-block;
}

.navigation .title {
  display: inline-block;
  margin-left: 0.5em;
}

.nav .hide-sub-menu-item, .nav-pills .hide-sub-menu-item .hide-main-menu-item {
  display: none;
}

[v-cloak] { display: none }
