.retail-prices {

  .price-point-distribution {
    white-space: nowrap;
    > .item {
      display: inline-block;
      vertical-align: top;
      float: none;
    }
  }
  .data-table {
    td {
      text-align: right;
    }
    th {
      text-align: center;
    }

    td.next-day {
      border-right: 1px solid #8A8A8A;
      &:last-child {
        border-right: none;
      }
    }

    td {
      width: 6.66%;
    }

    td:first-child {
      width: 20%;
      text-align: left;
      font-weight: bold;
      border-left: none;
    }

    td {
      $borderStyle: 1px solid #DDD;
      border-left: $borderStyle;
    }
  }

  .price-point {
    td:first-child {
      width: 20%;
      text-align: right;
      font-weight: bold;
      border-left: none;
    }
  }
}

