.page {
  padding: 10px;
  .clearfix {
    clear:both;
    display: block;
    content: '';
  }

  .toolbar-container {
    padding: 0;
    h3 {
      margin: 0;
      padding: 0 0 10px 0;
    }
    &.inline {
      position: static;
    }
    padding-bottom: 10px;
  }
}
