.margin-calculations {
  $first_table_height: 265px;
  $toolbarHeight: 75px;

  .container {
    width: auto;
    padding: 0;
  }
  &.tabbed {
    $navHeight: 55px;
    .nav {
      height: $navHeight;
    }

    .nav.nav-tabs {
      margin-left: 20px;
      height: auto;
      li {
        a {
          padding: 10px 20px;
        }
      }
    }

    .tabbed-body {
      height: calc(100% - #{$toolbarHeight});
    }
    .tab-content {
      height: calc(100% - #{$navHeight});
      .tab-pane, .container {
        height: 100%;
      }
    }
  }
  @include clearfix();
  .fixed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

  }

  .toolbar-container {
    padding-top: 0;
  }


  .splitter-container {
    height: calc(100% - #{$toolbarHeight});
  }

  .non-tabbed {
    .ht_clone_top, .ht_clone_left {
      box-shadow: 0 0 4px #eee;
      background-color: #fff;
      .wtHider {
        padding: 0 !important;
      }
    }
  }

  .section {
    position: relative;
    $heading: 30px;
    h3 {
      &:first-of-type {
        border-top: 1px solid #ccc;
      }
      height: $heading;
      box-sizing: border-box;
      background-image: url("../images/bg.png");
      background-repeat: repeat-x;
      font-size: 14px;
      margin: 0 ;
      padding: 6px 20px;
    }
    .container {
      padding: 0;
      height: calc(100% - #{$heading});
      overflow: auto;
      margin: 0;
      width: 100%;
    }
  }
  .week-picker {
    float: right;
    width: 300px;
    margin-right: 10px;
    p {
      text-align: center;
      margin: 10px 0;
    }
  }

  .handsontable table {
    tr:first-child {
      td {
        text-align: center;
      }
    }
    td {
      padding: 4px 15px;
      text-align: right;
      &:first-child {
        text-align: left;
      }
    }
  }

  .toolbar-container {
    margin: 0;
    height: $toolbarHeight;
    box-sizing: border-box;
  }

  .hsplitbar {
    height: 8px;
    background: no-repeat 50% 0;
    background-size: contain;
    background-image: url("../images/splitter.png");
    background-color: #8f8f8f;
    background-position: calc(50%-88) 0;
  }
  .first-table {
    height: $first_table_height;
    overflow: auto;
  }

  .second-table {
    height: calc(100% - #{$first_table_height + $toolbarHeight});
    overflow: auto;
  }

  h3 {
    margin: 0;
  }
}
