
.datepicker {
  z-index: 1000 !important;
}
.retail-prices {

  .prices-distribution {
    padding: 50px 100px;
    text-align: center;

    .tableFloatingHeaderOriginal {
      background-color: #fff;
    }
  }

  .floating-header {
    .tableFloatingHeaderOriginal {
      background-color: #fff;
    }
  }
  .price-info {
    text-align: center;

    .data {
      width: 800px;

      .tableFloatingHeaderOriginal {
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
      }

      tr td:first-child {
        width: 40%;
      }
    }
  }
  .fuel-grade-distribution {
    text-align: center;
    table {
      display: inline-block;
    }
  }

  .fuel-grade-distribution + .fuel-grade-distribution {
    margin-left: 50px;
  }
  .fuel-grade-distribution {
    display: inline-block;

    .fuel-grade {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0;
    }
    table {
      tr {
        &:nth-child(2n) {
          background-color: #eee;
        }
        td, th {
          &:first-child {
            width: 100px;
            text-align: left !important;
          }


          padding: 10px 20px;
          text-align: right !important;
        }
      }
    }
  }

  .fuel-grade {
    text-align: center;
  }
  .prices-list-tab {
  }

  .prices-distribution {
    height: 600px;
    width: 100%;
    overflow: auto;
    table {
      th {
        text-align: center;
      }
      th,td {
        padding: 10px 20px;
      }
    }
  }

  .hot {
    width: 100%;
    height: 100%;
    overflow: auto;
  }


  .nav.nav-tabs {
    margin-left: 20px;
    li {
      float: none;
      display: inline-block;
      a {
        padding: 5px 20px;
        font-weight: bold;
      }
    }
  }
  .prices-list, .prices-distribution {
    tr:first-of-type, tr:nth-of-type(2) {
      td {
        text-align: center;
      }
    }
    tr {

      td {
        text-align: right;
      }
      td:first-child {
        text-align: left;
      }
    }
  }
  .handsontable {
     table {
       width: 100%;
     }
  }
  .handsontable td {
    padding: 5px 10px;
  }

  .toolbar-container {
    h3 {
      padding-top: 0;
    }
  }
  .ht_clone_left.handsontable {
  }
}
