<div class="input-group date-chooser-container">
    <span class="input-group-btn">
    <button type="button" class="form-control btn btn-default" title="{{previousButtonTitle}}">
      <span class="glyphicon glyphicon-chevron-left"></span></button>
    </span>
  <input class="form-control date datepicker" type="text" placeholder="{{placeholderText}}" value="{{dateStr}}">
    <span class="input-group-btn">
    <button type="button" class="form-control  btn btn-default" title="{{nextButtonTitle}}"><span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    </span>
</div>
