<div class="navbar navbar-inverse navbar-fixed-top navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/daily-summary/latest">
        <img alt="Morrisons logo" src="{{assets}}/images/morrisonslogo.png" class="navbar-logo">
        <span class="title">PUMPS</span>
      </a>
    </div>
    <div class="daily-summary">
      <ul class="nav navbar-nav navbar-left">
        <li class="menu-item terminal-advice"><a href="/terminal-advice/latest">Pricing</a></li>
        <li class="menu-item daily-summary"><a href="/daily-summary/latest">Markets</a></li>
        <li class="menu-item inventory"><a href="/view/inventory">Inventory</a></li>
        <li class="menu-item logistics"><a href="/view/drawings">Logistics</a></li>
        <li class="menu-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/view/reports/temperature-monitoring">Temperature Monitoring</a></li>
            <li><a href="/view/reports/terminal-liftings">Monitor Liftings</a></li>
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-cog"></span>Configuration <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">

            <li><a href="/vat-rates">Manage regulatory data</a></li>

          </ul>
        </li>

        <li><a href="/access/logout">Sign out</a></li>
      </ul>

    </div>

  </div>
</div>
